N8N.json
{
  "name": "N8N",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        336,
        160
      ],
      "id": "7dd32b47-7aec-4b1e-bc0a-93d360d169a4",
      "name": "Telegram Trigger",
      "webhookId": "7e72898b-8db3-4578-8651-255bd14eeef0",
      "credentials": {
        "telegramApi": {
          "id": "PyJfsG0XEZnuGP2r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Hola, soy HelpDeskBot 👋\n\nEstoy aquí para ayudarte con solicitudes de soporte\nde forma rápida y ordenada.\n\nPor favor escribe el número de la opción que quieras usar.\n\nMenú principal:\n1) Ayuda\n2) Crear solicitud\n3) Consultar estado de solicitud\n4) Mis solicitudes\n5) Reportes\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1712,
        112
      ],
      "id": "7c32d2ba-c070-4e27-a577-32701b93c3ba",
      "name": "Send a text message",
      "webhookId": "9355f48c-5f2b-4ac0-9cbd-ee8072f4a56e",
      "credentials": {
        "telegramApi": {
          "id": "PyJfsG0XEZnuGP2r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Telegram Trigger\"].json.message.text == '/start' }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "f4a9cff2-b137-49ea-b181-4dcb88328abd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7b37f0e2-2e58-499d-8cad-0e524f9acf87",
                    "leftValue": "={{ $json.pantalla == 'MENU_PRINCIPAL' && $node[\"Telegram Trigger\"].json.message.text == '1' }}",
                    "rightValue": "=1",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2a209d68-be11-49bb-aef0-703a2ee5a008",
                    "leftValue": "={{ $json.pantalla == 'MENU_PRINCIPAL' && $node[\"Telegram Trigger\"].json.message.text == '2' }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4640f62c-1750-46fa-a49a-ad2dba680042",
                    "leftValue": "={{ $json.pantalla == 'MENU_PRINCIPAL' && $node[\"Telegram Trigger\"].json.message.text == '3' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e069ae40-aa5e-425f-924a-66e5f3a6f980",
                    "leftValue": "={{ $json.pantalla == 'MENU_PRINCIPAL' && $node[\"Telegram Trigger\"].json.message.text == '4' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f626c912-b1cc-4c37-9a8e-063108b5a268",
                    "leftValue": "={{ $json.pantalla == 'MENU_PRINCIPAL' && $node[\"Telegram Trigger\"].json.message.text == '5' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b217b7f1-6a43-46cd-8cd9-8fff2b315dd3",
                    "leftValue": "={{ $json.pantalla == 'MENU_SOLICITUD' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3a6803ab-bbe7-43a9-8676-08ebd1c67f95",
                    "leftValue": "={{ $json.pantalla == 'ESPERANDO_DESCRIPCION' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7762de22-c2f4-4495-b283-4d1cb65d2aef",
                    "leftValue": "={{ $json.pantalla == 'ESPERANDO_DESCRIPCION_CUENTA' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "29dcf941-0b5b-49db-8b8a-259a8401e43b",
                    "leftValue": "={{ $json.pantalla == 'ESPERANDO_DESCRIPCION_CONSULTA' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e782c25d-b593-4117-b7c5-bd0760309d9a",
                    "leftValue": "={{ $json.pantalla == 'CONSULTA_TICKET' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9b2b9478-deec-42b4-b9de-cbfe05c53b82",
                    "leftValue": "={{ $json.pantalla == 'ESPERANDO_CORREO' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e613ad33-6ae8-4ea7-bfef-9cee0ffc71d6",
                    "leftValue": "={{ $json.pantalla == 'FLUJO_TERMINADO' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1504,
        272
      ],
      "id": "aa09cc45-c44b-4a3b-ac78-137b6bc05062",
      "name": "Switch"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "timestamp",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1312,
        -16
      ],
      "id": "f2b9944e-e688-4572-9638-d864979ff313",
      "name": "Sort",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "782885d5-3a3f-41bc-86ed-20048f39d6fa",
              "leftValue": "={{ $('USUARIOS').item.json.telegram_user }}",
              "rightValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "12af56fa-da8f-486d-ade7-6583c1669747",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1008,
        96
      ],
      "id": "8ccfe6e1-e263-48de-9457-a3b7a120637e",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1472,
        64
      ],
      "id": "a830fd04-02ff-4d62-8ecc-f55b4193dd6e",
      "name": "Limit"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8",
          "mode": "list",
          "cachedResultName": "HelpDeskBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 544934564,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit#gid=544934564"
        },
        "filtersUI": {
          "values": []
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        880,
        128
      ],
      "id": "6d5c4b13-09c2-469d-a3fb-8b23620891d6",
      "name": "LOGS",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXIwgpDMWBrOJJKV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8",
          "mode": "list",
          "cachedResultName": "HelpDeskBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "USUARIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{ $json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        192
      ],
      "id": "8e6517d7-b86b-4f21-8b2e-eeaffe062f3b",
      "name": "USUARIOS",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXIwgpDMWBrOJJKV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8",
          "mode": "list",
          "cachedResultName": "HelpDeskBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 544934564,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit#gid=544934564"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $node[\"Telegram Trigger\"].json.message.from.id }}",
            "timestamp": "={{ $now }}",
            "opcion": "={{ $node[\"Telegram Trigger\"].json.message.text }}",
            "resultado": "={{ $json.result.text }}",
            "pantalla": "MENU_PRINCIPAL"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1888,
        48
      ],
      "id": "5fb36872-e1d7-49af-8705-19ea89e21e27",
      "name": "ABRIR LOGS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXIwgpDMWBrOJJKV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6931db33-25ca-4109-8585-534647aad78f",
              "leftValue": "={{ $json.timestamp }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1168,
        112
      ],
      "id": "0848db0b-4498-4156-a73b-507c6384e008",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Nueva Solicitud 📝\n\nPor favor, selecciona el tipo de soporte que necesitas para que podamos asignarte al técnico correcto:\n\n1) Soporte Técnico (Problemas con PC, impresoras, internet o hardware).\n\n2) Administrativo (creacion de cuenta corporativa).\n\n3) Consulta General (Dudas sobre procesos o información técnica).\n\nPor favor, escribe solo el número de tu opción.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1712,
        400
      ],
      "id": "20e1a193-7675-475e-b86e-2f62eedce82b",
      "name": "Send a text message1",
      "webhookId": "e74b7564-1118-45c6-a347-ff921c8d2903",
      "credentials": {
        "telegramApi": {
          "id": "PyJfsG0XEZnuGP2r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Centro de Ayuda - HelpDeskBot 🆘\n\nSi tienes problemas con el bot o necesitas soporte técnico humano, aquí tienes las opciones:\n\n• Cómo usar el bot: Responde con los números del menú para navegar.\n• Horario de atención: 24 HORAS.\n\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1712,
        256
      ],
      "id": "4ab1c50e-a3be-460e-8cf7-36b17f739247",
      "name": "Send a text message2",
      "webhookId": "e74b7564-1118-45c6-a347-ff921c8d2903",
      "credentials": {
        "telegramApi": {
          "id": "PyJfsG0XEZnuGP2r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8",
          "mode": "list",
          "cachedResultName": "HelpDeskBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 544934564,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit#gid=544934564"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $node[\"Telegram Trigger\"].json.message.from.id }}",
            "timestamp": "={{ $now }}",
            "opcion": "={{ $node[\"Telegram Trigger\"].json.message.text }}",
            "resultado": "={{ $json.result.text }}",
            "pantalla": "PANTALLA_AYUDA"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        224
      ],
      "id": "0f7736ca-b662-402e-91e4-9b220df09021",
      "name": "ABRIR LOGS1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXIwgpDMWBrOJJKV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8",
          "mode": "list",
          "cachedResultName": "HelpDeskBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 544934564,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit#gid=544934564"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $node[\"Telegram Trigger\"].json.message.from.id }}",
            "timestamp": "={{ $now }}",
            "opcion": "={{ $node[\"Telegram Trigger\"].json.message.text }}",
            "resultado": "={{ $json.resultado }}",
            "pantalla": "MENU_SOLICITUD"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        400
      ],
      "id": "557abe9a-4ca4-4d0e-aaec-2816c7f4110a",
      "name": "ABRIR LOGS2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXIwgpDMWBrOJJKV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Por favor, escribe el ID del ticket que deseas consultar.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1712,
        528
      ],
      "id": "071d0bfa-2e36-467a-8ee3-b8891452d073",
      "name": "Send a text message3",
      "webhookId": "0e979e12-e89b-4cb6-9cc3-563379bf1e74",
      "credentials": {
        "telegramApi": {
          "id": "PyJfsG0XEZnuGP2r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.data.length > 0 ? \n  \"📂 *Tus solicitudes registradas:*\\n\\n\" + \n  $json.data.map(ticket => \n    \"🎫 *ID:* \" + ticket.ID_ticket + \n    \"\\n📝 *Tipo:* \" + ticket.tipo + \n    \"\\n⏳ *Estado:* \" + ticket.estado + \n    \"\\n-------------------\"\n  ).join('\\n') : \n  \"Aún no tienes solicitudes registradas. 🤷‍♂️\" \n}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2064,
        656
      ],
      "id": "9f4a8e67-0f4d-468b-a99d-af6556f9cd61",
      "name": "Send a text message4",
      "webhookId": "0e979e12-e89b-4cb6-9cc3-563379bf1e74",
      "credentials": {
        "telegramApi": {
          "id": "PyJfsG0XEZnuGP2r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Por favor ingresa un correo para enviar el reporte ",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1712,
        784
      ],
      "id": "72e95c2c-9194-46e9-91e8-fc0419b4be6d",
      "name": "Send a text message5",
      "webhookId": "0e979e12-e89b-4cb6-9cc3-563379bf1e74",
      "credentials": {
        "telegramApi": {
          "id": "PyJfsG0XEZnuGP2r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8",
          "mode": "list",
          "cachedResultName": "HelpDeskBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1017298946,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit#gid=1017298946"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "creado_por",
              "lookupValue": "={{ $node[\"Telegram Trigger\"].json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1712,
        656
      ],
      "id": "e1cca919-eb22-4769-b792-1bcd8e20a6fa",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXIwgpDMWBrOJJKV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1872,
        656
      ],
      "id": "f3f37102-46f4-46da-8ef9-904136839634",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8",
          "mode": "list",
          "cachedResultName": "HelpDeskBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 544934564,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit#gid=544934564"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $node[\"Telegram Trigger\"].json.message.from.id }}",
            "timestamp": "={{ $now }}",
            "opcion": "={{ $node[\"Telegram Trigger\"].json.message.text }}",
            "resultado": "={{ $json.result.text }}",
            "pantalla": "PANTALLA_CONSULTA"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2208,
        656
      ],
      "id": "a8e05a30-8980-4907-8089-150bf83e33c4",
      "name": "ABRIR LOGS3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXIwgpDMWBrOJJKV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pantalla == 'MENU_SOLICITUD' && $('Telegram Trigger').item.json.message.text == '1' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "aeb2e5cd-e450-419a-a20c-a47494d8c3c4"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "972f86e1-ff65-4973-b3f1-f25964804ccf",
                    "leftValue": "={{ $json.pantalla == 'MENU_SOLICITUD' && $('Telegram Trigger').item.json.message.text == '2' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c702f37a-c27d-47dd-8804-625966940684",
                    "leftValue": "={{ $json.pantalla == 'MENU_SOLICITUD' && $('Telegram Trigger').item.json.message.text == '3' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2064,
        176
      ],
      "id": "134a2edf-c5a3-4f78-9939-04f48004f9a6",
      "name": "Switch1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Por favor, describe brevemente el problema que tienes con tu equipo o conexión",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2288,
        32
      ],
      "id": "584f965d-6485-464f-9d7b-ba6bb0bf6849",
      "name": "Send a text message7",
      "webhookId": "468fd817-d81a-4c92-8e5a-d70a9f4add2e",
      "credentials": {
        "telegramApi": {
          "id": "PyJfsG0XEZnuGP2r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "solicitud guardada, te estaremos contactando.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2816,
        32
      ],
      "id": "ffd82a5e-d4c6-4a5a-a03f-429a4eb65cbe",
      "name": "Send a text message8",
      "webhookId": "468fd817-d81a-4c92-8e5a-d70a9f4add2e",
      "credentials": {
        "telegramApi": {
          "id": "PyJfsG0XEZnuGP2r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8",
          "mode": "list",
          "cachedResultName": "HelpDeskBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 544934564,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit#gid=544934564"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $node[\"Telegram Trigger\"].json.message.from.id }}",
            "timestamp": "={{ $now }}",
            "opcion": "={{ $node[\"Telegram Trigger\"].json.message.text }}",
            "resultado": "={{ $json.result.text }}",
            "pantalla": "ESPERANDO_DESCRIPCION"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2480,
        32
      ],
      "id": "f815099d-4ab6-4695-ba28-c8120d16a130",
      "name": "ABRIR LOGS4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXIwgpDMWBrOJJKV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8",
          "mode": "list",
          "cachedResultName": "HelpDeskBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1017298946,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit#gid=1017298946"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo": "solicitud Soporte Tecnico",
            "prioridad": "media",
            "creado_por": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "fecha_creacion": "={{ $now }}",
            "descripcion": "={{ $('Telegram Trigger').item.json.message.text }}",
            "estado": "Pendiente",
            "ID_ticket": "={{ $execution.id }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID_ticket",
              "displayName": "ID_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2640,
        32
      ],
      "id": "3432dc36-5fe5-4e27-84d6-751a0a6abdb1",
      "name": "SOLICITUDES",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXIwgpDMWBrOJJKV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Por favor, describe brevemente porque desea la cuenta coorporativa",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2288,
        160
      ],
      "id": "8aadf596-d5fe-431b-bda8-88ac1987ba02",
      "name": "Send a text message9",
      "webhookId": "468fd817-d81a-4c92-8e5a-d70a9f4add2e",
      "credentials": {
        "telegramApi": {
          "id": "PyJfsG0XEZnuGP2r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8",
          "mode": "list",
          "cachedResultName": "HelpDeskBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 544934564,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit#gid=544934564"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $node[\"Telegram Trigger\"].json.message.from.id }}",
            "timestamp": "={{ $now }}",
            "opcion": "={{ $node[\"Telegram Trigger\"].json.message.text }}",
            "resultado": "={{ $json.result.text }}",
            "pantalla": "MENU_SOLICITUD_TERMINADA"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2976,
        32
      ],
      "id": "946cd02e-fc6f-4221-b019-ee8b3415b508",
      "name": "ABRIR LOGS5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXIwgpDMWBrOJJKV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8",
          "mode": "list",
          "cachedResultName": "HelpDeskBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 544934564,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit#gid=544934564"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $node[\"Telegram Trigger\"].json.message.from.id }}",
            "timestamp": "={{ $now }}",
            "opcion": "={{ $node[\"Telegram Trigger\"].json.message.text }}",
            "resultado": "={{ $json.result.text }}",
            "pantalla": "ESPERANDO_DESCRIPCION_CUENTA"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2464,
        160
      ],
      "id": "ea0507a4-c821-4c94-a5cf-8285c424384a",
      "name": "ABRIR LOGS6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXIwgpDMWBrOJJKV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "solicitud guardada, te estaremos contactando.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2816,
        160
      ],
      "id": "1ebd6e15-4d47-49fb-9e1f-f6c469509cc2",
      "name": "Send a text message10",
      "webhookId": "468fd817-d81a-4c92-8e5a-d70a9f4add2e",
      "credentials": {
        "telegramApi": {
          "id": "PyJfsG0XEZnuGP2r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8",
          "mode": "list",
          "cachedResultName": "HelpDeskBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1017298946,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit#gid=1017298946"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo": "Solicitud administrativa",
            "prioridad": "media",
            "creado_por": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "fecha_creacion": "={{ $now }}",
            "descripcion": "={{ $('Telegram Trigger').item.json.message.text }}",
            "estado": "Pendiente",
            "ID_ticket": "={{ $execution.id }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID_ticket",
              "displayName": "ID_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2640,
        160
      ],
      "id": "934d179d-29e1-498e-aa31-ac9b17816bbf",
      "name": "SOLICITUDES1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXIwgpDMWBrOJJKV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8",
          "mode": "list",
          "cachedResultName": "HelpDeskBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 544934564,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit#gid=544934564"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $node[\"Telegram Trigger\"].json.message.from.id }}",
            "timestamp": "={{ $now }}",
            "opcion": "={{ $node[\"Telegram Trigger\"].json.message.text }}",
            "resultado": "={{ $json.result.text }}",
            "pantalla": "MENU_PRINCIPAL"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2976,
        160
      ],
      "id": "157ef63c-eab7-4458-a677-e8b066689bb0",
      "name": "ABRIR LOGS7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXIwgpDMWBrOJJKV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Has seleccionado CONSULTA GENERAL.\nPor favor, escribe detalladamente tu duda o la información técnica que necesitas",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2288,
        304
      ],
      "id": "8e55a0c8-fcea-4996-9408-e58a4124c5b5",
      "name": "Send a text message11",
      "webhookId": "468fd817-d81a-4c92-8e5a-d70a9f4add2e",
      "credentials": {
        "telegramApi": {
          "id": "PyJfsG0XEZnuGP2r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8",
          "mode": "list",
          "cachedResultName": "HelpDeskBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 544934564,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit#gid=544934564"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $node[\"Telegram Trigger\"].json.message.from.id }}",
            "timestamp": "={{ $now }}",
            "opcion": "={{ $node[\"Telegram Trigger\"].json.message.text }}",
            "resultado": "={{ $json.result.text }}",
            "pantalla": "ESPERANDO_DESCRIPCION_CONSULTA"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2448,
        304
      ],
      "id": "029ceb27-4947-4fea-8c8a-5073e674d080",
      "name": "ABRIR LOGS8",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXIwgpDMWBrOJJKV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Gracias. Tu consulta ha sido registrada. Un técnico te responderá por este medio pronto",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2816,
        304
      ],
      "id": "0737f819-3b66-4b6f-9da3-a2e92a3d7faa",
      "name": "Send a text message12",
      "webhookId": "468fd817-d81a-4c92-8e5a-d70a9f4add2e",
      "credentials": {
        "telegramApi": {
          "id": "PyJfsG0XEZnuGP2r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8",
          "mode": "list",
          "cachedResultName": "HelpDeskBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1017298946,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit#gid=1017298946"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo": "Solicitud Consulta General",
            "prioridad": "media",
            "creado_por": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "fecha_creacion": "={{ $now }}",
            "descripcion": "={{ $('Telegram Trigger').item.json.message.text }}",
            "estado": "Pendiente",
            "ID_ticket": "={{ $execution.id }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID_ticket",
              "displayName": "ID_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2640,
        304
      ],
      "id": "480ea801-dbd0-4acb-9eb3-8e2e25630e22",
      "name": "SOLICITUDES2",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXIwgpDMWBrOJJKV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8",
          "mode": "list",
          "cachedResultName": "HelpDeskBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 544934564,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit#gid=544934564"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $node[\"Telegram Trigger\"].json.message.from.id }}",
            "timestamp": "={{ $now }}",
            "opcion": "={{ $node[\"Telegram Trigger\"].json.message.text }}",
            "resultado": "={{ $json.result.text }}",
            "pantalla": "MENU_PRINCIPAL"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2976,
        304
      ],
      "id": "e11688d1-a510-4cd0-bbaf-d6f7c0f9b2ab",
      "name": "ABRIR LOGS9",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXIwgpDMWBrOJJKV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8",
          "mode": "list",
          "cachedResultName": "HelpDeskBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1017298946,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit#gid=1017298946"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID_ticket",
              "lookupValue": "={{ $node[\"Telegram Trigger\"].json.message.text.trim() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2032,
        528
      ],
      "id": "1a1e26d8-3227-4492-a7ac-42f26da85b3e",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXIwgpDMWBrOJJKV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Ticket: {{ $json.ID_ticket }}\nTipo: {{ $json.tipo }}\nEstado: {{ $json.estado }}\nFecha: {{ $json.fecha_creacion }}\"",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2224,
        528
      ],
      "id": "1deb79f5-ba36-4c76-b279-176e2ea6dc3d",
      "name": "Send a text message13",
      "webhookId": "468fd817-d81a-4c92-8e5a-d70a9f4add2e",
      "credentials": {
        "telegramApi": {
          "id": "PyJfsG0XEZnuGP2r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8",
          "mode": "list",
          "cachedResultName": "HelpDeskBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 544934564,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit#gid=544934564"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $node[\"Telegram Trigger\"].json.message.from.id }}",
            "timestamp": "={{ $now }}",
            "opcion": "={{ $node[\"Telegram Trigger\"].json.message.text }}",
            "resultado": "={{ $json.result.text }}",
            "pantalla": "CONSULTA_TICKET"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        528
      ],
      "id": "60b97f18-2888-43a9-9869-fb2e87add990",
      "name": "ABRIR LOGS10",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXIwgpDMWBrOJJKV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8",
          "mode": "list",
          "cachedResultName": "HelpDeskBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 544934564,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit#gid=544934564"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $node[\"Telegram Trigger\"].json.message.from.id }}",
            "timestamp": "={{ $now }}",
            "opcion": "={{ $node[\"Telegram Trigger\"].json.message.text }}",
            "resultado": "={{ $json.result.text }}",
            "pantalla": "ESPERANDO_CORREO"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1888,
        784
      ],
      "id": "22941891-34e3-454d-9608-7de79f1a1af0",
      "name": "ABRIR LOGS11",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXIwgpDMWBrOJJKV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8",
          "mode": "list",
          "cachedResultName": "HelpDeskBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1017298946,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit#gid=1017298946"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "creado_por",
              "lookupValue": "={{ $node[\"Telegram Trigger\"].json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2080,
        784
      ],
      "id": "3d4a73fb-8c40-4047-8538-15a0418954bf",
      "name": "Get row(s) in sheet2",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXIwgpDMWBrOJJKV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $item(0).$node[\"Telegram Trigger\"].json.message.text }}",
        "subject": "Reporte de Solicitudes - HelpDeskBot",
        "message": "=<h3>Resumen de Solicitudes</h3>\n<table border=\"1\" style=\"border-collapse: collapse; width: 100%;\">\n  <thead>\n    <tr style=\"background-color: #f2f2f2;\">\n      <th>ID</th>\n      <th>Tipo</th>\n      <th>Descripción</th>\n      <th>Estado</th>\n    </tr>\n  </thead>\n  <tbody>\n    {{ $json.data.map(item => `\n      <tr>\n        <td>${item.ID_ticket}</td>\n        <td>${item.tipo}</td>\n        <td>${item.descripcion}</td>\n        <td>${item.estado}</td>\n      </tr>\n    `).join('') }}\n  </tbody>\n</table>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2352,
        784
      ],
      "id": "acf33514-f937-4cb1-8e1f-41874a02a58b",
      "name": "Send a message",
      "webhookId": "8080857a-a08a-478a-ba0c-e6608f33f7f5",
      "credentials": {
        "gmailOAuth2": {
          "id": "cHz4y6E6beF0mSxo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "9c479b8b-215c-4a36-8fc9-153e2b69be41",
              "leftValue": "={{ $json.telegram_user }}",
              "rightValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        224
      ],
      "id": "c2349013-c118-41e1-b2dc-fab4aa3430b3",
      "name": "If1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=¡Registro completado con éxito de HelpDeskBot! 🎉\n\nHola {{ $node[\"Telegram Trigger\"].json.message.from.first_name }}, te has registrado en nuestra base de datos.\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        352
      ],
      "id": "32b57481-dae6-4ba0-bfa9-284fdc191111",
      "name": "Send a text message15",
      "webhookId": "468fd817-d81a-4c92-8e5a-d70a9f4add2e",
      "credentials": {
        "telegramApi": {
          "id": "PyJfsG0XEZnuGP2r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8",
          "mode": "list",
          "cachedResultName": "HelpDeskBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "USUARIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "nombre": "={{ $('Telegram Trigger').item.json.message.from.first_name }}",
            "rol": "cliente",
            "activo": "TRUE"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rol",
              "displayName": "rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "activo",
              "displayName": "activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        944,
        336
      ],
      "id": "c446ff48-f2be-4c9c-ad03-c9e7390642f5",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXIwgpDMWBrOJJKV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Reporte enviado con exito!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2496,
        784
      ],
      "id": "35d0be33-ce81-43f7-ba01-21d46850f156",
      "name": "Send a text message14",
      "webhookId": "468fd817-d81a-4c92-8e5a-d70a9f4add2e",
      "credentials": {
        "telegramApi": {
          "id": "PyJfsG0XEZnuGP2r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2208,
        784
      ],
      "id": "8304039a-9367-47cc-aa55-a5d3a36422c4",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8",
          "mode": "list",
          "cachedResultName": "HelpDeskBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 544934564,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit#gid=544934564"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $node[\"Telegram Trigger\"].json.message.from.id }}",
            "timestamp": "={{ $now }}",
            "opcion": "={{ $node[\"Telegram Trigger\"].json.message.text }}",
            "resultado": "={{ $json.result.text }}",
            "pantalla": "CORREO_ENVIADO"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2656,
        784
      ],
      "id": "0ddf6763-a8ae-48a6-80be-a6796a7567a6",
      "name": "ABRIR LOGS12",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXIwgpDMWBrOJJKV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=⚠️ Opción no válida.\n\nPor favor, ingresa un número del 1 al 5. \nEscribe /start si quieres volver a ver el menú principal.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1712,
        928
      ],
      "id": "fbcb50f8-6a4e-4a81-93ec-1dab440f6178",
      "name": "Send a text message16",
      "webhookId": "468fd817-d81a-4c92-8e5a-d70a9f4add2e",
      "credentials": {
        "telegramApi": {
          "id": "PyJfsG0XEZnuGP2r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=⚠️ Opción no válida.\n\nPor favor, ingresa un número del 1 al 3. \nEscribe /start si quieres volver a ver el menú principal.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2288,
        416
      ],
      "id": "df220990-fb29-4209-a61c-c031096fabab",
      "name": "Send a text message17",
      "webhookId": "468fd817-d81a-4c92-8e5a-d70a9f4add2e",
      "credentials": {
        "telegramApi": {
          "id": "PyJfsG0XEZnuGP2r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8",
          "mode": "list",
          "cachedResultName": "HelpDeskBot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 544934564,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z4tDLghBxexg1Dfdt94nXw3jvHj7Cfaurrx9b3avqZ8/edit#gid=544934564"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $node[\"Telegram Trigger\"].json.message.from.id }}",
            "timestamp": "={{ $now }}",
            "opcion": "=",
            "resultado": "={{ $json.result.text }}",
            "pantalla": "FLUJO_TERMINADO"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3264,
        448
      ],
      "id": "29888d24-72fe-4f83-9264-bea30fceacc8",
      "name": "Final",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fXIwgpDMWBrOJJKV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "si deseas volver al menu presiona /start",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3424,
        448
      ],
      "id": "ce1f3f75-9774-4332-84fc-94b0c52d0409",
      "name": "Send a text message19",
      "webhookId": "468fd817-d81a-4c92-8e5a-d70a9f4add2e",
      "credentials": {
        "telegramApi": {
          "id": "PyJfsG0XEZnuGP2r",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "USUARIOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "ABRIR LOGS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SOLICITUDES",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SOLICITUDES1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SOLICITUDES2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOGS": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "USUARIOS": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message2": {
      "main": [
        [
          {
            "node": "ABRIR LOGS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "ABRIR LOGS2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABRIR LOGS2": {
      "main": [
        []
      ]
    },
    "ABRIR LOGS1": {
      "main": [
        [
          {
            "node": "Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message4": {
      "main": [
        [
          {
            "node": "ABRIR LOGS3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Send a text message7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message7": {
      "main": [
        [
          {
            "node": "ABRIR LOGS4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message8": {
      "main": [
        [
          {
            "node": "ABRIR LOGS5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABRIR LOGS4": {
      "main": [
        []
      ]
    },
    "SOLICITUDES": {
      "main": [
        [
          {
            "node": "Send a text message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message9": {
      "main": [
        [
          {
            "node": "ABRIR LOGS6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message10": {
      "main": [
        [
          {
            "node": "ABRIR LOGS7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SOLICITUDES1": {
      "main": [
        [
          {
            "node": "Send a text message10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message11": {
      "main": [
        [
          {
            "node": "ABRIR LOGS8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message12": {
      "main": [
        [
          {
            "node": "ABRIR LOGS9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SOLICITUDES2": {
      "main": [
        [
          {
            "node": "Send a text message12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message3": {
      "main": [
        [
          {
            "node": "ABRIR LOGS10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Send a text message13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABRIR LOGS10": {
      "main": [
        []
      ]
    },
    "ABRIR LOGS3": {
      "main": [
        [
          {
            "node": "Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message5": {
      "main": [
        [
          {
            "node": "ABRIR LOGS11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABRIR LOGS11": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "LOGS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a text message14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABRIR LOGS12": {
      "main": [
        [
          {
            "node": "Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message14": {
      "main": [
        [
          {
            "node": "ABRIR LOGS12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message16": {
      "main": [
        []
      ]
    },
    "Send a text message17": {
      "main": [
        []
      ]
    },
    "ABRIR LOGS5": {
      "main": [
        [
          {
            "node": "Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABRIR LOGS7": {
      "main": [
        [
          {
            "node": "Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABRIR LOGS9": {
      "main": [
        [
          {
            "node": "Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final": {
      "main": [
        [
          {
            "node": "Send a text message19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message13": {
      "main": [
        [
          {
            "node": "Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message15": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "88efe714-8035-48b7-adb5-737b4dc1bd95",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6c8a9a9c0983ddc37972fbacc4ebc1365a461fb706f9d03153405c1deba8a620"
  },
  "id": "zXtHvaJmgPAcHQVV",
  "tags": []
}